In [2]:
# importing the necessary libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OrdinalEncoder
import joblib

In [3]:
# loading the dataset
UPI=pd.read_csv(r'C:\Users\salma\OneDrive\Desktop\UPI\upi_transactions.csv')
UPI

,transaction id,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend
0,TXN0000000001,2024-10-08 15:17:28,P2P,Entertainment,868,SUCCESS,26-35,18-25,Delhi,Axis,SBI,Android,4G,0,15,Tuesday,0
1,TXN0000000002,2024-04-11 06:56:00,P2M,Grocery,1011,SUCCESS,26-35,26-35,Uttar Pradesh,ICICI,Axis,iOS,4G,0,6,Thursday,0
2,TXN0000000003,2024-04-02 13:27:18,P2P,Grocery,477,SUCCESS,26-35,36-45,Karnataka,Yes Bank,PNB,Android,4G,0,13,Tuesday,0
3,TXN0000000004,2024-01-07 10:09:17,P2P,Fuel,2784,SUCCESS,26-35,26-35,Delhi,ICICI,PNB,Android,5G,0,10,Sunday,1
4,TXN0000000005,2024-01-23 19:04:23,P2P,Shopping,990,SUCCESS,26-35,18-25,Delhi,Axis,Yes Bank,iOS,WiFi,0,19,Tuesday,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,TXN0000249996,2024-11-08 22:41:43,Recharge,Food,373,SUCCESS,36-45,26-35,Telangana,ICICI,HDFC,iOS,5G,0,22,Friday,0
249996,TXN0000249997,2024-12-15 02:58:03,P2P,Utilities,2025,SUCCESS,36-45,26-35,Rajasthan,HDFC,Yes Bank,Android,5G,0,2,Sunday,1
249997,TXN0000249998,2024-11-27 16:33:25,P2P,Food,468,SUCCESS,26-35,18-25,West Bengal,ICICI,ICICI,Android,4G,0,16,Wednesday,0
249998,TXN0000249999,2024-01-05 13:31:30,Recharge,Healthcare,284,SUCCESS,18-25,36-45,Andhra Pradesh,Axis,ICICI,iOS,4G,0,13,Friday,0
249999,TXN0000250000,2024-01-17 15:23:07,P2P,Entertainment,531,SUCCESS,18-25,26-35,Telangana,Axis,Yes Bank,Android,4G,0,15,Wednesday,0

In [ ]:
# checking for existing null values in the data frame
UPI.isna().sum()

transaction id        0
timestamp             0
transaction type      0
merchant_category     0
amount (INR)          0
transaction_status    0
sender_age_group      0
receiver_age_group    0
sender_state          0
sender_bank           0
receiver_bank         0
device_type           0
network_type          0
fraud_flag            0
hour_of_day           0
day_of_week           0
is_weekend            0
dtype: int64

In [5]:
UPI['timestamp'].dtype

dtype('O')

In [ ]:
# changing the data type of column into datetime
UPI['timestamp'] = pd.to_datetime(UPI['timestamp'])

In [ ]:
# splitting the datetime into singular columns
UPI['date']=UPI['timestamp'].dt.date
UPI['time']=UPI['timestamp'].dt.time
UPI['month']=UPI['timestamp'].dt.month
UPI['year']=UPI['timestamp'].dt.year
UPI['day']=UPI['timestamp'].dt.day
UPI['hour']=UPI['timestamp'].dt.hour
UPI['minute']=UPI['timestamp'].dt.minute
UPI['second']=UPI['timestamp'].dt.second

In [ ]:
# drop the previous timestamp
UPI=UPI.drop('timestamp',axis=1)

In [5]:
UPI['transaction_status'].value_counts()

transaction_status
SUCCESS    237624
FAILED      12376
Name: count, dtype: int64

In [37]:
# encoding the string values into numbers
# OrdinalEncoder is used in cases where more number of value categories are presnt in the column
# LabelEncoder is used where less number of value categories are present in the column

In [10]:
t_type=OrdinalEncoder(categories=[['P2M','P2P','Recharge','Bill Payment']])
UPI['transaction type']=t_type.fit_transform(UPI[['transaction type']])

In [11]:
m_category=OrdinalEncoder(categories=[['Grocery','Food','Shopping','Fuel','Other','Utilities','Transport','Entertainment','Healthcare','Education']])
UPI['merchant_category']=m_category.fit_transform(UPI[['merchant_category']])

In [12]:
t_status=LabelEncoder()
UPI['transaction_status']=t_status.fit_transform(UPI['transaction_status'])

In [ ]:
oe_state=OrdinalEncoder(categories=[['Maharashtra','Uttar Pradesh','Karnataka','Tamil Nadu','Delhi','Telangana','Gujarat','Andhra Pradesh','Rajasthan','West Bengal']])
UPI['sender_state']=oe_state.fit_transform(UPI[['sender_state']])

In [14]:
send_bank=OrdinalEncoder(categories=[['SBI','HDFC','ICICI','IndusInd','Axis','PNB','Yes Bank','Kotak']])
UPI['sender_bank']=send_bank.fit_transform(UPI[['sender_bank']])

In [15]:
receive_bank=OrdinalEncoder(categories=[['SBI','HDFC','ICICI','IndusInd','Axis','PNB','Yes Bank','Kotak']])
UPI['receiver_bank']=receive_bank.fit_transform(UPI[['receiver_bank']])

In [16]:
oe_day=OrdinalEncoder(categories=[['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']])
UPI['day_of_week']=oe_day.fit_transform(UPI[['day_of_week']])

In [17]:
send_age=OrdinalEncoder(categories=[['18-25','26-35','36-45','46-55','56+']])
UPI['sender_age_group']=send_age.fit_transform(UPI[['sender_age_group']])

In [ ]:
receive_age=OrdinalEncoder(categories=[['18-25','26-35','36-45','46-55','56+']])
UPI['receiver_age_group']=receive_age.fit_transform(UPI[['receiver_age_group']])

In [33]:
network_oe=OrdinalEncoder(categories=[['3G','4G','5G','WiFi']])
UPI['network_type']=network_oe.fit_transform(UPI[['network_type']])

In [31]:
device_oe=OrdinalEncoder(categories=[['Android','iOS','Web']])
UPI['device_type']=device_oe.fit_transform(UPI[['device_type']])

In [45]:
# saving the encoders
joblib.dump(t_type,'t_type.joblib')
joblib.dump(m_category,'m_category.joblib')
joblib.dump(t_status,'t_status.joblib')
joblib.dump(oe_state,'oe_state.joblib')
joblib.dump(send_bank,'send_bank.joblib')
joblib.dump(receive_bank,'receive_bank.joblib')
joblib.dump(oe_day,'oe_day.joblib')
joblib.dump(send_age,'send_age.joblib')
joblib.dump(receive_age,'receive_age.joblib')
joblib.dump(network_oe,'network_oe.joblib')
joblib.dump(device_oe,'device_oe.joblib')

['device_oe.joblib']

In [38]:
# dropping the not important columns after encoding

In [19]:
UPI=UPI.drop(['date','time'],axis=1)

In [20]:
UPI=UPI.drop(['hour_of_day','hour','minute','second','is_weekend'],axis=1)

In [21]:
UPI

,transaction id,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,day_of_week,month,year,day
0,TXN0000000001,1.0,7.0,868,1,1.0,0.0,4.0,4.0,0.0,Android,4G,0,1.0,10,2024,8
1,TXN0000000002,0.0,0.0,1011,1,1.0,1.0,1.0,2.0,4.0,iOS,4G,0,3.0,4,2024,11
2,TXN0000000003,1.0,0.0,477,1,1.0,2.0,2.0,6.0,5.0,Android,4G,0,1.0,4,2024,2
3,TXN0000000004,1.0,3.0,2784,1,1.0,1.0,4.0,2.0,5.0,Android,5G,0,6.0,1,2024,7
4,TXN0000000005,1.0,2.0,990,1,1.0,0.0,4.0,4.0,6.0,iOS,WiFi,0,1.0,1,2024,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,TXN0000249996,2.0,1.0,373,1,2.0,1.0,5.0,2.0,1.0,iOS,5G,0,4.0,11,2024,8
249996,TXN0000249997,1.0,5.0,2025,1,2.0,1.0,8.0,1.0,6.0,Android,5G,0,6.0,12,2024,15
249997,TXN0000249998,1.0,1.0,468,1,1.0,0.0,9.0,2.0,2.0,Android,4G,0,2.0,11,2024,27
249998,TXN0000249999,2.0,8.0,284,1,0.0,2.0,7.0,4.0,2.0,iOS,4G,0,4.0,1,2024,5
249999,TXN0000250000,1.0,7.0,531,1,0.0,1.0,5.0,4.0,6.0,Android,4G,0,2.0,1,2024,17

In [ ]:
# extracting only the numerical part of transaction id in order to convert to number
UPI['transaction id'] = UPI['transaction id'].str.extract(r'(\d+)').astype(int)

In [ ]:
# confirming all the columns are in numbers
UPI.dtypes

transaction id          int32
transaction type      float64
merchant_category     float64
amount (INR)            int64
transaction_status      int32
sender_age_group      float64
receiver_age_group    float64
sender_state          float64
sender_bank           float64
receiver_bank         float64
device_type           float64
network_type          float64
fraud_flag              int64
day_of_week           float64
month                   int32
year                    int32
day                     int32
dtype: object

In [40]:
# dataframe after preprocessing
UPI

,transaction id,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,day_of_week,month,year,day
0,1,1.0,7.0,868,1,1.0,0.0,4.0,4.0,0.0,0.0,1.0,0,1.0,10,2024,8
1,2,0.0,0.0,1011,1,1.0,1.0,1.0,2.0,4.0,1.0,1.0,0,3.0,4,2024,11
2,3,1.0,0.0,477,1,1.0,2.0,2.0,6.0,5.0,0.0,1.0,0,1.0,4,2024,2
3,4,1.0,3.0,2784,1,1.0,1.0,4.0,2.0,5.0,0.0,2.0,0,6.0,1,2024,7
4,5,1.0,2.0,990,1,1.0,0.0,4.0,4.0,6.0,1.0,3.0,0,1.0,1,2024,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,249996,2.0,1.0,373,1,2.0,1.0,5.0,2.0,1.0,1.0,2.0,0,4.0,11,2024,8
249996,249997,1.0,5.0,2025,1,2.0,1.0,8.0,1.0,6.0,0.0,2.0,0,6.0,12,2024,15
249997,249998,1.0,1.0,468,1,1.0,0.0,9.0,2.0,2.0,0.0,1.0,0,2.0,11,2024,27
249998,249999,2.0,8.0,284,1,0.0,2.0,7.0,4.0,2.0,1.0,1.0,0,4.0,1,2024,5
249999,250000,1.0,7.0,531,1,0.0,1.0,5.0,4.0,6.0,0.0,1.0,0,2.0,1,2024,17

In [ ]:
# saving the data frame locally
UPI.to_csv('UPI_preprocessed.csv',index=False)

In [3]:
UPI=pd.read_csv(r'C:\Users\salma\OneDrive\Desktop\UPI\UPI_preprocessed.csv')
UPI

,transaction id,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,day_of_week,month,year,day
0,1,1.0,7.0,868,1,1.0,0.0,4.0,4.0,0.0,0.0,1.0,0,1.0,10,2024,8
1,2,0.0,0.0,1011,1,1.0,1.0,1.0,2.0,4.0,1.0,1.0,0,3.0,4,2024,11
2,3,1.0,0.0,477,1,1.0,2.0,2.0,6.0,5.0,0.0,1.0,0,1.0,4,2024,2
3,4,1.0,3.0,2784,1,1.0,1.0,4.0,2.0,5.0,0.0,2.0,0,6.0,1,2024,7
4,5,1.0,2.0,990,1,1.0,0.0,4.0,4.0,6.0,1.0,3.0,0,1.0,1,2024,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,249996,2.0,1.0,373,1,2.0,1.0,5.0,2.0,1.0,1.0,2.0,0,4.0,11,2024,8
249996,249997,1.0,5.0,2025,1,2.0,1.0,8.0,1.0,6.0,0.0,2.0,0,6.0,12,2024,15
249997,249998,1.0,1.0,468,1,1.0,0.0,9.0,2.0,2.0,0.0,1.0,0,2.0,11,2024,27
249998,249999,2.0,8.0,284,1,0.0,2.0,7.0,4.0,2.0,1.0,1.0,0,4.0,1,2024,5
249999,250000,1.0,7.0,531,1,0.0,1.0,5.0,4.0,6.0,0.0,1.0,0,2.0,1,2024,17

In [6]:
UPI=UPI.drop('transaction id',axis=1)

In [8]:
UPI.to_csv('UPI_Data.csv',index=False)

NameError: name 't_type' is not defined